
<div class="d-inline-flex p-2">

    <div class="@ButtonType.ToString() @(IsDisabled ? "ButtonDisabled" : "")" onclick="@Tapped">

        <div class="d-flex justify-content-center">

            @if (!string.IsNullOrEmpty(LeftIcon))
            {
                <img class="btn-left-icon" src="_content/GondaremBlazor.Components/Resources/Images/@LeftIcon" height="24" width="24" />
            }

            <div class="TextStyle noselect">

                @ButtonType.ToString()

            </div>
            
            @if (!string.IsNullOrEmpty(RightIcon))
            {
                <img class="btn-right-icon" src="_content/GondaremBlazor.Components/Resources/Images/@RightIcon" height="24" width="24" />
            }

        </div>

    </div>

</div>

<style>
    @@import url('_content/GondaremBlazor.Components/Styles/BaseColors.css');
    @@import url('_content/GondaremBlazor.Components/Styles/BaseStyles.css');

    .ButtonPrimary, .ButtonSecondary, .ButtonTertiary {
        background-color: var(--primary);
        height: 48px;
        border: none;
        border-radius: 24px;
        color: var(--base-tertiary-light);
        padding: 12px 32px;
    }

    .ButtonPrimaryMedium, .ButtonSecondaryMedium, .ButtonTertiaryMedium {
        background-color: var(--primary);
        height: 40px;
        border: none;
        border-radius: 20px;
        color: var(--base-tertiary-light);
        padding: 8px 24px;
    }

    .ButtonPrimarySmall, .ButtonSecondarySmall, .ButtonTertiarySmall {
        background-color: var(--primary);
        height: 32px;
        border: none;
        border-radius: 16px;
        color: var(--base-tertiary-light);
        padding: 4px 16px;
    }

    .ButtonSecondary, .ButtonSecondaryMedium, .ButtonSecondarySmall {
        background-color: var(--secondary);
    }

    .ButtonTertiary, .ButtonTertiaryMedium, .ButtonTertiarySmall {
        background-color: var(--tertiary);
    }

    .TextStyle {
        text-align: center;
        font-size: 16px;
    }
    
    .ButtonPrimary:active, .ButtonPrimaryMedium:active, .ButtonPrimarySmall:active {
        background-color: var(--primary-dark);
    }

    .ButtonSecondary:active, .ButtonSecondaryMedium:active, .ButtonSecondarySmall:active {
        background-color: var(--secondary-dark);
    }

    .ButtonTertiary:active, .ButtonTertiaryMedium:active, .ButtonTertiarySmall:active {
        background-color: var(--tertiary-dark);
    }

    .ButtonDisabled {
        pointer-events: none;
        background-color: var(--base-tertiary);
    }

    .btn-left-icon{
        padding: 0px 0;
        margin-right: 12px;
        align-content: center;
    }

    .btn-right-icon {
        padding: 0px 0;
        margin-left: 12px;
        align-content: center;
    }

</style>

@code {
    [Parameter]
    public string LeftIcon { get; set; } = string.Empty;

    [Parameter]
    public string RightIcon { get; set; } = string.Empty;

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public Action Tapped { get; set; }

    [Parameter]
    public ButtonTypeEnum ButtonType { get; set; } = ButtonTypeEnum.ButtonPrimary;

    public enum ButtonTypeEnum
    {
        ButtonSecondary,
        ButtonPrimary,
        ButtonTertiary,
        ButtonSecondaryMedium,
        ButtonPrimaryMedium,
        ButtonTertiaryMedium,
        ButtonSecondarySmall,
        ButtonPrimarySmall,
        ButtonTertiarySmall
    }
}
