@page "/"

<h1>Hello, world!</h1>

<div style="overflow-y: scroll;">

    Welcome to your new app.
    <br />
    <br />
    <GondaremBlazor.Components.Components.Buttons.Button ButtonType="GondaremBlazor.Components.Components.Buttons.Button.ButtonTypeEnum.ButtonDefault" LeftIcon="ic_home_blazor.png" />
    <br />
    <br />
    <GondaremBlazor.Components.Components.Buttons.Button ButtonType="GondaremBlazor.Components.Components.Buttons.Button.ButtonTypeEnum.ButtonDefault" IsDisabled="true" />
    <br />
    <br />
    <GondaremBlazor.Components.Components.Buttons.Button ButtonType="GondaremBlazor.Components.Components.Buttons.Button.ButtonTypeEnum.ButtonDefault" RightIcon="ic_home_blazor.png" />
    <br />
    <br />
    <GondaremBlazor.Components.Components.Buttons.Button ButtonType="GondaremBlazor.Components.Components.Buttons.Button.ButtonTypeEnum.ButtonImportant" />
    <br />
    <br />
    <GondaremBlazor.Components.Components.Buttons.Button ButtonType="GondaremBlazor.Components.Components.Buttons.Button.ButtonTypeEnum.ButtonImportant" IsDisabled="true" />

</div>
